@font-face {
  font-family: "MaisonNeue-Book";
  src: url("../fonts/MaisonNeue-Book.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-BookItalic";
  src: url("../fonts/MaisonNeue-BookItalic.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-Bold";
  src: url("../fonts/MaisonNeue-Bold.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-BoldItalic";
  src: url("../fonts/MaisonNeue-BoldItalic.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-Demi";
  src: url("../fonts/MaisonNeue-Demi.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-DemiItalic";
  src: url("../fonts/MaisonNeue-DemiItalic.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-Light";
  src: url("../fonts/MaisonNeue-Light.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-LightItalic";
  src: url("../fonts/MaisonNeue-LightItalic.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-Medium";
  src: url("../fonts/MaisonNeue-Medium.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-MediumItalic";
  src: url("../fonts/MaisonNeue-MediumItalic.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-Mono";
  src: url("../fonts/MaisonNeue-Mono.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeue-MonoItalic";
  src: url("../fonts/MaisonNeue-MonoItalic.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeueExtended-Bold";
  src: url("../fonts/MaisonNeueExtended-Bold.woff2") format('woff2');
}
@font-face {
  font-family: "MaisonNeueMono-Regular";
  src: url("../fonts/MaisonNeueMono-Regular.woff2") format('woff2');
}