.table>thead:first-child>tr:first-child>th { position: relative;}
.table .sortable{cursor:pointer;}

.table .sortable:hover:before,.table .sortable:hover:after, .table .sortable.sort_asc:before, .table .sortable.sort_desc:after {opacity:1;}

.table .sortable:before {
    content: "";
    border-width: 0 4px 4px;
    visibility: visible;
    right: 10px;
    position: absolute;
    opacity: .3;
    margin-top: -3px;
    font: normal normal normal 14px/1 FontAwesome;
}

.table .sortable:after {
    content: "";
    border-width: 0 4px 4px;
    visibility: visible;
    right: 10px;
    position: absolute;
    opacity: .3;
    margin-top: 6px;
    font: normal normal normal 14px/1 FontAwesome;
}
.form__dropdown {
    width: 90px !important;
    background-position: 86% center;
}
.roleHeadingAlignment {
    tr {
        th {
            &:first-child {
                span{
                    text-align: left;  
                }
            }
            span{
                display: block;
                text-align: center;
            }
        }
    }
}