<div class="row justify-content-center">
    <div class="col-md-8 col__login">
        <div class="row">
            <div class="col-auto col__title">Forgot Password</div>
            <div class="w-100"></div>
            <div class="col-auto col__form">
                <form class="abr__form" name="form" #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.form.valid && onSubmit()"
                    novalidate>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="email" #email="ngModel" [(ngModel)]="forgotPasswordRequest.email"
                            [ngClass]="{ 'is-invalid': forgotPasswordForm.submitted && email.invalid }" email required />
                        <div *ngIf="forgotPasswordForm.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.hasError('required')">Email is required</div>
                            <div *ngIf="email.hasError('email')">Please enter valid email</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn__ui button__black">Submit</button>
                </form>
                <div class="w-100">
                    <p><b>Service desk support:</b></p> 
                    <p class="mb-0">North America 844 426 5142<br> Europe and India +44 808 189 3031 <br>Global Avaya Extension 484357</p>
                </div>
            </div>
            <!-- <div class="col-auto col__form notFoundMessage">
                <p>Token is expired. Please contact with the administrator. 
                <span class="d-block">Click here to <a routerLink="/login">Login</a></span></p>
            </div> -->
        </div>

    </div>
</div>