<footer class="footer">
    <div class="container-fluid container-xl">
        <div class="row">
            <div class="col">
                <div class="footer__logo">
                    <img src="assets/images/logo-white.svg"/>
                </div>
                <div class="footer__links d-flex justify-content-between">
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active" href="javascript:void(0)">Tech support</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)">Terms and conditions</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)">Privacy Statement</a>
                        </li>
                    </ul>
                    <div class="copyright">
                        <p>© Buck Global, LLC</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer> 