.modal-container{
    padding: 25px 15px;
    .modal-footer{
        position: relative;
        bottom: 0px;
        padding: 0px !important;
        border-top: 0px;
        justify-content: center;
    }
}

.additions__Notes{
    .instructions{
        height: 300px;
        overflow: auto;
      }  
}  
