<base-modal modalTitle="Change Password" (onClose)="close()"
    class="upload__adv__comm">
    <form class="abr__form" name="form" #changePasswordForm="ngForm" (ngSubmit)="changePasswordForm.valid && onSubmit()" novalidate>
        <div class="form-group">
            <label for="oldPasswordInput">Old Password</label>
            <input type="password" class="form-control" id="oldPasswordInput" name="oldPassword" #oldPasswordControl="ngModel" [(ngModel)]="changePasswordRequest.oldPassword" [ngClass]="{
                'is-invalid': (submitted || oldPasswordControl.touched) && oldPasswordControl.invalid }" required>
            <div *ngIf="(submitted || oldPasswordControl.touched) && oldPasswordControl.invalid" class="invalid-feedback">
                <div *ngIf="oldPasswordControl.hasError('required')">Old password is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="passwordInput">New Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" #passwordControl="ngModel" [(ngModel)]="changePasswordRequest.newPassword" [ngClass]="{
                'is-invalid': (submitted || passwordControl.touched) && passwordControl.invalid }" [pattern]="passwordValidations" required>
            <div *ngIf="(submitted || passwordControl.touched) && passwordControl.invalid" class="invalid-feedback">
                <div *ngIf="passwordControl.hasError('required')">Password is required</div>
                <div *ngIf="passwordControl.errors?.pattern || passwordControl.errors?.['minlength']"> Password must have at least 6 characters along with one digit, one upper and one special character</div>
            </div>
        </div>
        <div class="form-group">    
            <label for="confirmPasswordInput">Confirm Password</label>
            <input #confirmPwd type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword" #confirmPasswordControl="ngModel" compareDirectives="password" [(ngModel)]="changePasswordRequest.confirmPassword" [ngClass]="{'is-invalid': (submitted || confirmPasswordControl.touched) && (confirmPwd.value == '' || passwordNotMatched) }" required>
            <div *ngIf="(submitted || confirmPasswordControl.touched || confirmPasswordControl.hasError('notEqual')) && (confirmPwd.value == '' || passwordNotMatched)" class="invalid-feedback">
                <div *ngIf="confirmPasswordControl.hasError('required')">Confirm password is required</div>
                <div *ngIf="(confirmPasswordControl.hasError('notEqual') && confirmPwd.value != '') || (passwordNotMatched && !confirmPasswordControl.hasError('required'))">Password and Confirm Password does not match</div>
            </div>
        </div>
    </form>
    <div class="modal-footer pl-0">
        <button type="submit" class="btn btn-default btn__ui button__black"
            (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn__ui button__white btn-default"
            (click)="close()">Cancel</button>
    </div>
</base-modal>
<modal-loader [showSpinner]="loader"></modal-loader>