<div class="row justify-content-center" *ngIf="!loading">
    <div class="col-md-8 col__login">
        <div class="row">
            <div class="col-auto col__title">Set Password</div>
            <div class="w-100"></div>
            <div class="col-auto col__form" *ngIf="validToken">
                <h4 class="text-center mb-2">Hello {{userDetails.name}}</h4>
                <form class="abr__form" name="form" #resetForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" name="password" #passwordControl="ngModel" [(ngModel)]="setPasswordRequest.password" [ngClass]="{ 'is-invalid': (resetForm.submitted || passwordControl.touched) && passwordControl.invalid }" [pattern] ="passwordValidations" minlength="6" required>
                        <div *ngIf="(resetForm.submitted || passwordControl.touched) && passwordControl.invalid" class="invalid-feedback">
                            <div *ngIf="passwordControl.hasError('required')">Password is required</div>
                            <div *ngIf="passwordControl.errors?.pattern || passwordControl.errors?.['minlength'] "> Password must have at least 6 characters along with one digit, one upper and one special character</div>
                        </div>
                     </div>   
                    <div class="form-group">
                        <label for="confirmPasswordInput">Confirm Password</label>
                        <input #confirmPwd type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword" #confirmPasswordControl="ngModel" compareDirectives="password" [(ngModel)]="setPasswordRequest.confirmPassword" [ngClass]="{ 'is-invalid': (resetForm.submitted || confirmPasswordControl.touched) && (confirmPwd.value == '' || passwordNotMatched) }" required>
                        <div *ngIf="(resetForm.submitted || confirmPasswordControl.touched || confirmPasswordControl.hasError('notEqual')) && (confirmPwd.value == '' || passwordNotMatched)" class="invalid-feedback" >
                            <div *ngIf="confirmPwd.value == '' && confirmPasswordControl.hasError('required')">Confirm password is required</div>
                            <div *ngIf="(confirmPasswordControl.hasError('notEqual') && confirmPwd.value != '') || (passwordNotMatched && !confirmPasswordControl.hasError('required'))">Password and Confirm Password does not match</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn__ui button__black">Submit</button>
                </form>
                <div class="w-100">
                    <p><b>Service desk support:</b></p> 
                    <p class="mb-0">North America 844 426 5142<br> Europe and India +44 808 189 3031 <br>Global Avaya Extension 484357</p>
                </div>
            </div>   
            <div class="col-auto col__form notFoundMessage" *ngIf="!validToken">
                <p>Token is expired. Please contact with the administrator. 
                <span class="d-block">Click here to <a routerLink="/login">Login</a></span></p>
            </div>   
        </div>
    </div>
</div>